name: Notion to GitHub Sync
on:
  push:
    branches: [ main ]
  schedule:
    - cron: '0 0 * * *' # Runs automatically every night at midnight
  workflow_dispatch: # Allows you to run it manually with a button click

jobs:
  notion_to_markdown:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Notion JAM (Sync)
        uses: pravunay/notion-jam@v1.0.1
        with:
          NOTION_SECRET: ${{ secrets.NOTION_TOKEN }}
          NOTION_DATABASE: ${{ secrets.NOTION_PAGE_ID }}
          # This tells the tool where to save your Notion content
          OUTPUT: "index.md" 

      - name: Commit and Push changes
        run: |
          git config --global user.name "GitHub Action"
          git config --global user.email "action@github.com"
          git add .
          git commit -m "Update portfolio from Notion" || exit 0
          git push
